#avatarlink{
  height: 45px;
}

#avatarimg{
  width: 45px;
  height: 45px;
}

textarea{
  height: 200px;
}
.row{
  max-width: none;
}


#profileimg{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 20px;
  border: 20px;
}

#myProfileInfo{
  height: 300px;
  background-color: #008CBA;
  border: solid 3px #000000;
  border-radius: 10px;
}

#mycourses{
  height: 200px;
  background-color: #008CBA;
  border: solid 3px #000000;
  border-radius: 10px;
}


#smallbreak{
  height: 50px;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
}

.columns{
  float: left;
}