h1 Student Detail Gradebook

#gradebook
  h3 Student Gradebook:
  .row
    table.gradebookTable
      thead
        tr
          th Assignment
          th Student Response
          th Correct Answer
      tbody

