nav.top-bar(data-topbar, role="navigation", ng-controller='NavCtrl', full-width)
  ul.title-area
    li.name
      h1
        a(ui-sref='profile') CourseControl
    li.toggle-topbar.menu-icon
      a(href="/#/")
        span
  section.top-bar-section(ng-cloak)
    ul.right(ng-show='!rootuser.institutionid')
      li: a(ui-sref='register') Register
      li: a(ui-sref='login') Login
    ul.right(ng-show='rootuser.institutionid')
      li: a(ui-sref='profile') Profile
      li: a(ui-sref='newcourse') New Course
      li.divider
      li: a#avatarlink(ng-click='logout()'): img#avatarimg(ng-src='{{rootuser.avatar}}')
