h1 Lesson: {{lesson.lessonTitle}}

#lessonInfo
  .row
    .small-4.columns
      h4 Course: {{lesson.courseTitle}}
    .small-4.columns
      h4 Lesson Date:  {{moment(lesson.lessonDate).format('MMMM D YYYY')}}
    .small-4.columns
      h4 Summary: {{lesson.lessonSummary}}

#smallbreak
#courseQuizzes
  .row
    h3 Quizzes:
    button.button.success(ng-click='createQuiz()') Create a New Quiz
  .row
    table.lessonsTable
      thead
        tr
          th Delete
          th Title
          th In Progress
          th Completed
      tbody
        tr(ng-repeat='q in quizzes')
          td
            a(ng-click='nuke(lesson)')
              img(ng-src='/assets/delete.png')
          td: a.button.button.success(ui-sref='quiz({courseId:courseId, lessonId:lessonId, quizId:q.quizId})') {{q.quizTitle}}
          td {{q.isActive}}
          td {{q.isCompleted}}
  #smallbreak
