@lightblue: #68B8DF;
@darkblue: #2686B4;
@lightpurple: #7582E4;
@darkpurple: #3545BF;
@lightgreen: #65E69D;
@darkgreen: #21C468;
@lightyellow: #FFF998;
@darkyellow: #FFF770;

#lessonInfo {
  height: auto;
  background-color: @lightblue;
  border: solid 3px @darkblue;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

#courseQuizzes{
  height: auto;
  background-color: @lightblue;
  border: solid 3px @darkblue;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}