h1 New Lesson

.row
  .large-12.columns
    form
      .courseForm
        .row
          .large-12.columns
            label(for='lessonTitle') Lesson Title
            input#lessonTitle(type='text', name='lessonTitle', ng-model='lesson.lessonTitle', autofocus)
        .row
          .small-12.columns
            label(for='lessonDate') Lesson Date
            input#lessonDate(type='date', name='lessonDate', ng-model='lesson.lessonDate')
        .row
          .small-12.columns
            label(for='lessonSummary') Lesson Summary
            input#lessonSummary(type='text', name='lessonSummary', ng-model='lesson.lessonSummary')
        .row
          .small-12.columns
            button.button.success(ng-click='create(lesson)') Create Lesson

