h1 {{mode | lowercase}}

.row
  .small-12.columns
    form
      .row
        .small-6.columns
          label(for='institutionId') Institution ID Number
          input#institutionId(type='text', name='institutionId', ng-model='user.institutionId', autofocus)
        .small-6.columns
          label(for='password') Password
          input#password(type='password', name='password', ng-model='user.password')
      .row(ng-show='mode === "register"')
        .small-6.columns
          label(for='firstName') First Name
          input#firstName(type='text', name='firstName', ng-model='user.firstName')
        .small-6.columns
          label(for='lastName') Last Name
          input#lastName(type='text', name='lastName', ng-model='user.lastName')
      .row(ng-show='mode === "register"')
        .small-6.columns
          label(for='email') Email
          input#email(type='text', name='email', ng-model='user.email')
        .smal
      .row(ng-show='mode === "register"')
        .small-6.columns
          label Are you an instructor?
          input#isAdminYes(type='radio', name='isAdmin', value='true', ng-model='user.isAdmin')
          label(for='isAdminYes') Yes
          input#isAdminNo(type='radio', name='isAdmin', value='false', ng-model='user.isAdmin')
          label(for='isAdminNo') No
        .small-6.columns
l-6.columns
      .row
        .small-6.columns
          button(ng-click='submit()') Submit
        .small-6.columns
