.dayBox{
  width: 12%;
  background-color: crimson;
  border: 3px solid black;
  height: 100px;
  display: inline-block;
  padding: 10px;
  margin: 20px;
}


#courseInfo {
  height: 300px;
  background-color: #008CBA;
  border: solid 3px #000000;
  border-radius: 10px;
}


.weeklySchedule{
  width: 100%;
  text-align: center;
}

.courseIdButton{
  text-align: center;
}



.lessonsTable{
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  thead tr{
    th:nth-child(1){
      width: 10%;
    }
    th:nth-child(2){
      width: 70%;
    }
    th:nth-child(3){
      width: 20%;
    }
  }

  img{
    width: 20px;
    height: 20px;
  }

}