@lightblue: #68B8DF;
@darkblue: #2686B4;
@lightpurple: #7582E4;
@darkpurple: #3545BF;
@lightgreen: #65E69D;
@darkgreen: #21C468;
@lightyellow: #FFF998;
@darkyellow: #FFF770;

#courseInfo {
  height: auto;
  background-color: @lightblue;
  border: solid 3px @darkblue;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}



.courseIdButton{
  text-align: center;
}



.lessonsTable{
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  thead tr{
    th:nth-child(1){
      width: 10%;
    }
    th:nth-child(2){
      width: 30%;
    }
    th:nth-child(3){
      width: 20%;
    }
    th:nth-child(4){
      width: 40%;
    }
  }

  img{
    width: 20px;
    height: 20px;
  }

}