h2 Course: {{course.courseTitle}}

#courseInfo
  .row
    .small-4.columns
      h4 Institution ID: {{course.institutionId}}
      h4 Semester: {{course.semester}}
    .small-4.columns
      h4 Instructor: {{course.instructorFirstName}} {{course.instructorLastName}}
      h4 Webpage: {{course.webpage}}
    .small-4.columns
      .courseIdButton
        button.button.success.nav-toggle(href='#collapse1') Show Course ID
      #collapse1(style='display:none')
        h4 Course Id: {{course.courseId}}
   .row
     .small-12.columns
       .weeklySchedule
         .dayBox
           h4 Monday
         .dayBox
           h4 Tuesday
         .dayBox
           h4 Wednesday
         .dayBox
           h4 Thursday
         .dayBox
           h4 Friday
         .dayBox
           h4 Saturday

#smallbreak
#mycourses
  .row
    h3 Lessons:
    button.button.success(ng-click='createLesson()') Create a New Lesson
  .row
    table.lessonsTable
      thead
        tr
          th Delete
          th Title
          th Date
          th Summary
      tbody
        tr(ng-repeat='l in lessons')
          td
            a(ng-click='nuke(lesson)')
              img(ng-src='/assets/delete.png')
          td: a.button.button.success(ui-sref='lesson({courseId:course.courseId, lessonId:l.lessonId})') {{l.lessonTitle}}
          td {{l.lessonDate}}
          td {{l.lessonSummary}}
  #smallbreak
