h2 Course Detail

#courseInfo
  .row
    h3 Info
  .row
    .small-4.columns
      h4 COURSE TITLE
    .small-4.columns
      h4 COURSE INSTRUCTOR
    .small-4.columns
   .row
     .small-12.columns
       .dayBox
         h4 Monday
       .dayBox
         h4 Tuesday
       .dayBox
         h4 Wednesday
       .dayBox
         h4 Thursday
       .dayBox
         h4 Friday
       .dayBox
         h4 Saturday
       .dayBox
         h4 Sunday

#smallbreak
#mycourses
  h3 Lessons:
  button.button.success(ng-click='createLesson()') Create a New Lesson
