h2 {{course.courseTitle}}

#courseInfo
  .row
    .small-4.columns
      h4 Institution ID: {{course.institutionId}}
      h4 Semester: {{course.semester}}
    .small-4.columns
      h4 Instructor: {{course.instructorFirstName}} {{course.instructorLastName}}
      h4 Webpage: {{course.webpage}}
    .small-4.columns
      .courseIdButton
        button.button.success.nav-toggle(href='#collapse1') Show Course ID
      #collapse1(style='display:none')
        h4 Course Id: {{course.courseId}}
   .row
     .small-12.columns
       .weeklySchedule
         .dayBox
           h4 Monday
         .dayBox
           h4 Tuesday
         .dayBox
           h4 Wednesday
         .dayBox
           h4 Thursday
         .dayBox
           h4 Friday
         .dayBox
           h4 Saturday

#smallbreak
#mycourses
  h3 Lessons:
  button.button.success(ng-click='createLesson()') Create a New Lesson
