h2 {{quiz.quizTitle}}

#quizBody
  h3 Question: {{quiz.quizQuestion}}
  img.quizImg(ng-src='{{quiz.photoURL}}')
  button.button.large.expand.success() Answer A: {{quiz.answerA}}
  button.button.large.expand.success() Answer B: {{quiz.answerB}}
  button.button.large.expand.success() Answer C: {{quiz.answerC}}
  button.button.large.expand.success() Answer D: {{quiz.answerD}}
  button.button.large.expand.success() Answer E: {{quiz.answerE}}
