.uploadingTable{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#quizBody{
  width: 40%;
  background-color: #2f96b4;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}

.quizImg{
  width: 50%;
  height: auto;
}

#instructorButtons{
  width: 40%;
  background-color: #2f96b4;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}
#graph{
  width: 40%;
  background-color: #2f96b4;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}