h2 {{quiz.quizTitle}}
#instructorButtons(ng-show='rootuser.id === course.courseInstructorId')
  button.button.large.alert(ng-click='startQuiz(quiz.quizId)', ng-show='quiz.isActive === false && quiz.isCompleted !== true') Start Quiz
  button.button.large.alert(ng-click='closeQuiz(quiz.quizId)') Close Quiz
#graph(ng-show='quiz.isCompleted=== true')
  h3 Student Results
  .container
    #chartdiv
#quizBody
  h3 Question: {{quiz.quizQuestion}}
  img.quizImg(ng-src='{{quiz.photoURL}}')
  button.button.large.expand.success(ng-click='vote("A")') Answer A: {{quiz.answerA}}
  button.button.large.expand.success(ng-click='vote("B")') Answer B: {{quiz.answerB}}
  button.button.large.expand.success(ng-click='vote("C")') Answer C: {{quiz.answerC}}
  button.button.large.expand.success(ng-click='vote("D")') Answer D: {{quiz.answerD}}
  button.button.large.expand.success(ng-click='vote("E")') Answer E: {{quiz.answerE}}
