h1 My Profile

#myProfileInfo
    .row
        h3 Info
    .row
        .small-4.columns
            img#profileimg(ng-src='{{rootuser.avatar}}')
        .small-4.columns
            h4 {{rootuser.firstname}} {{rootuser.lastname}}
            h4 {{rootuser.email}}
        .small-4.columns
            h4 ID: {{rootuser.institutionid}}
            h4 Status: {{institutionStatus}}

#smallbreak

#mycourses
    h3 My Courses