h1 My Profile

#myProfileInfo
    .row
        h3 Info
    .row
        .small-4.columns
            img#profileimg(ng-src='{{rootuser.avatar}}')
        .small-4.columns
            h4 {{rootuser.firstname}} {{rootuser.lastname}}
            h4 {{rootuser.email}}
        .small-4.columns
            h4 ID: {{rootuser.institutionid}}
            h4 Status: {{institutionStatus}}

#smallbreak

#mycourses
    h3 My Courses
    .row
        .small-12.columns
          button.button.success(ng-click='addcourse=true') Add a New Course
          .addcourse(ng-show='addcourse')
              form
                  .addCourseForm
                      .row
                          .large-6.columns
                              label(for='courseId') Course Id
                              input#courseId(type='text', name='courseId', ng-model='addNewCourse.courseId', autofocus)
                          .large-6.columns
                              button.button.success(ng-click='addCourse(addNewCourse)') Add
                              button.button.alert(ng-click='addcourse=false') Done
          .row
              table.coursesTable
                thead
                    tr
                        th Delete
                        th Title
                        th Semester
                        th Instructor
                tbody
                    tr(ng-repeat='c in courses')
                        td
                            a(ng-click='nuke(course)')
                                img(ng-src='/assets/delete.png')
                        td: a.button.button.success(ui-sref='course({courseId:c.courseId})') {{c.courseTitle}}
                        td {{c.semester}}
                        td {{c.instructorFirstName}} {{c.instructorLastName}}
#smallbreak